.sub-wrapper {
  background-color: var(--cyan);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.4em;
}

.sub-wrapper h2 {
  color: white;
}

.price-block {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.price-value {
  font-size: 2.5em;
  margin-right: 0.4em;
}
.price-description {
  color: var(--light-gray);
}

.sub-wrapper p:not(.price-description) {
  color: white;
}
