.pros-wrapper {
  background-color: #4abebd;
  text-align: left;
  padding: 1.4em;

  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.pros-wrapper h2 {
  color: var(--light-gray);
}

.pros-wrapper ul {
  list-style-type: none;
  color: var(--light-gray);
}

.pros-wrapper ul li {
  line-height: 25px;
}
