:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);

  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  background-color: var(--light-gray);
  min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

@media screen and (min-width: 750px) {
  .App {
    font-size: 1.2em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "unified unified"
      "left right";
  }

  .desc-wrapper {
    grid-area: unified;
    padding: 5% !important;
  }

  .sub-wrapper {
    grid-area: left;
    padding: 10% !important;
  }

  .pros-wrapper {
    grid-area: right;
    padding: 10% !important;
  }

  .btn {
    padding: 6% !important;
  }
}
